{% extends 'base.html' %}


{% block head_title %}
   <title>Tweet me too</title>
{% endblock head_title %}


{% block content %}

   <div class='row text-center'>
      <div class="col">
         <h1> welcome to tweet me too</h1>
      </div>
   </div>   
   
   <div class="row mb-3">
      <div class='col-md-4 mx-auto col-10'>
         <form class='form' id='tweet-create-form' method='POST' action='/create_tweet/'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' name='content' placeholder='Your tweet ...'></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
         
         </form>
      </div>
   </div>

   <div class="row" id="tweets">
         
   </div>
   

<!--Script tag allows me to type javascript inside html-->
<script>

   function handleTweetCreateFormDidSubmit(event) {
      event.preventDefault()
      const myForm = event.target
      const myFormData = new FormData(myForm)  //FormData is a builtIn class handling data from an http form
      const url = myForm.getAttribute("action")
      const method = myForm.getAttribute("method")
      const xhr = new XMLHttpRequest()
      xhr.open(method, url)
      xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", 'XMLHttpRequest')
      xhr.setRequestHeader("x-requested-with", "XMLHttpRequest")
      xhr.onload = function() {
         const serverResponse = xhr.response
         const tweetsEl = document.getElementById('tweets')
         loadTweets(tweetsEl)
         console.log(serverResponse)
      }
      xhr.send(myFormData)
   }
   const tweetCreateFormEl = document.getElementById('tweet-create-form')

   tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit)


   const tweetsEl = document.getElementById('tweets') 

   const loadTweets = function(tweetsElement) {
      const xhr = new XMLHttpRequest() 
      const method = "GET" //"POST"
      const url = "/tweets"
      const responseType = "json"

      // Now i can perform the request 
      xhr.responseType =responseType
      xhr.open(method, url)
      xhr.onload = function() {
         // console.log(xhr.response)
         const serverResponse = xhr.response
         const listedItems = serverResponse.response  // array (python list), response is the key that contains a list from the data dictionairy
         var finalTweetStr = ""
         var i;
         for (i=0; i<listedItems.length; i++) {
            var tweetobj = listedItems[i]   
            var currentItem = formatTweetElement(tweetobj)     
            finalTweetStr += currentItem
            
         }
         tweetsElement.innerHTML += finalTweetStr
      }
      xhr.send() // triggers the request for me
   }
   
   loadTweets(tweetsEl)


   function handleDidLike(tweet_id, currentCount) {
      console.log(tweet_id, currentCount)
   }

   function likeBtn(tweet) {
      return `
      <button 
         type='button' 
         class='btn btn-primary btn-small' 
         onclick= handleDidLike(${tweet.id}, ${tweet.likes})
      >
      ${tweet.likes} Likes
      </button>
   `
   }

   function formatTweetElement(tweet){
      var formattedTweet = `
      <div 
         class='col-12 col-md-10 mx-auto mb-4 border rounded py-3 tweet' 
         id= "'tweet-' ${tweet.id}"
      >
         <p>  
            ${tweet.content} 
         </p>
         <div 
            class='btn-group'
         > 
            ${likeBtn(tweet)}
         </div>
      </div>
      `

      return formattedTweet
   }

   
</script>
{% endblock content %}