{% extends 'base.html' %}


{% block head_title %}
   <title>Tweet me too</title>
{% endblock head_title %}


{% block content %}
   <h1> welcome to tweet me too</h1>

   <div id="tweets">
      Wait loading tweets....
   </div>

<!--Script tag allows me to type javascript inside html-->
<script>
   const tweetsElement = document.getElementById('tweets')  // get html elements
   // tweetsElement.innerHTML = `Wait loading tweets....   <br><br>`              // set new html content in that element 



   const xhr = new XMLHttpRequest() 
   const method = "GET" //"POST"
   const url = "/tweets"
   const responseType = "json"

   function handleDidLike(tweet_id, currentCount) {
      console.log(tweet_id, currentCount)
      
   }

   function likeBtn(tweet) {
      return `
      <button 
         type='button' 
         class='btn btn-primary btn-small' 
         onclick= handleDidLike(${tweet.id}, ${tweet.likes})
      >
      ${tweet.likes} Likes
      </button>
   `
   }

   function formatTweetElement(tweet){
      var formattedTweet = `
      <div 
         class='mb-4 tweet' 
         id= "'tweet-' ${tweet.id}"
      >
         <p>  
            ${tweet.content} 
         </p>
         <div 
            class='btn-group'
         > 
            ${likeBtn(tweet)}
         </div>
      </div>
      `

      return formattedTweet
   }

   // Now i can perform the request 
   xhr.responseType =responseType
   xhr.open(method, url)
   xhr.onload = function() {
      // console.log(xhr.response)
      const serverResponse = xhr.response
      const listedItems = serverResponse.response  // array (python list), response is the key that contains a list from the data dictionairy
      var finalTweetStr = ""
      var i;
      for (i=0; i<listedItems.length; i++) {
         var tweetobj = listedItems[i]   
         var currentItem = formatTweetElement(tweetobj)     
         finalTweetStr += currentItem
         
      }
      tweetsElement.innerHTML += finalTweetStr
   }
   xhr.send() // triggers the request for me
</script>
{% endblock content %}